{% extends 'layouts/dashboard.base.html' %}
{% block title %}Flaskdesk — Account Settings{% endblock %}
{% block content %}

<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  {% include 'includes/sidebar.admin.html' %}

  <!-- Website content -->
  <div class="content">
    <!-- Navbar top fixed -->
    {% include 'includes/navbar.admin.html' %}

    <!-- Content container -->
    <div class="container-fluid">
      <!-- Header -->
      <div class="content-box mb-3 content-lighten">
        <h3>Account Settings</h3>
      </div>

      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <div class="card border-0">
        <div class="card-body">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="true">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-email-tab" data-toggle="pill" href="#pills-email" role="tab" aria-controls="pills-email" aria-selected="false">Email</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-password-tab" data-toggle="pill" href="#pills-password" role="tab" aria-controls="pills-password" aria-selected="false">Password</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-delete-tab" data-toggle="pill" href="#pills-delete" role="tab" aria-controls="pills-delete" aria-selected="false">Delete Account</a>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
            <div class="tab-pane fade" id="pills-email" role="tabpanel" aria-labelledby="pills-email-tab">
              <form action="{{ url_for('admin.account_settings') }}" method="POST" style="padding: 1.25rem;">
                {{ email_form.csrf_token }}
                <div class="form-group row">
                  {% for row in user %}
                    <input type="hidden" name="id" value="{{ row.id }}">
                    {{ email_form.email.label(class="col-sm-2 col-form-label") }}
                    {% if email_form.email.errors %}
                      <div class="col-sm-5">
                        {{ email_form.email(class="form-control is-invalid", value=row.email, placeholder="Email Address") }}
                        {% for error in email_form.email.errors %}
                          <div class="invalid-feedback">
                            {{ error }}
                          </div>
                        {% endfor %}
                      </div>
                    {% else %}
                      <div class="col-sm-5">
                        {{ email_form.email(class="form-control", value=row.email, placeholder="Email Address") }}
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
                <button type="submit" class="btn btn-outline-secondary mt-2">Update</button>
              </form>
            </div>
            <div class="tab-pane fade" id="pills-password" role="tabpanel" aria-labelledby="pills-password-tab">
              <form action="{{ url_for('admin.account_settings') }}" method="POST" style="padding: 1.25rem;">
                {{ password_form.csrf_token }}
                <div class="form-group row">
                    <input type="hidden" name="id" value="{{ current_user.id }}">
                    {{ password_form.password.label(class="col-sm-2 col-form-label") }}
                    {% if password_form.password.errors %}
                      <div class="col-sm-5">
                        {{ password_form.password(class="form-control is-invalid", placeholder="New Password") }}
                        {% for error in password_form.password.errors %}
                          <div class="invalid-feedback">
                            {{ error }}
                          </div>
                        {% endfor %}
                      </div>
                    {% else %}
                      <div class="col-sm-5">
                        {{ password_form.password(class="form-control", placeholder="New Password") }}
                      </div>
                    {% endif %}
                </div>
                <div class="form-group row">
                  {{ password_form.confirm_password.label(class="col-sm-2 col-form-label") }}
                  {% if password_form.confirm_password.errors %}
                    <div class="col-sm-5">
                      {{ password_form.confirm_password(class="form-control is-invalid", placeholder="Confirm Password") }}
                      {% for error in password_form.confirm_password.errors %}
                        <div class="invalid-feedback">
                          {{ error }}
                        </div>
                      {% endfor %}
                    </div>
                  {% else %}
                    <div class="col-sm-5">
                      {{ password_form.confirm_password(class="form-control", placeholder="Confirm Password") }}
                    </div>
                  {% endif %}
                </div>
                <button type="submit" class="btn btn-outline-secondary mt-2">Change Password</button>
              </form>
            </div>
            <div class="tab-pane fade" id="pills-delete" role="tabpanel" aria-labelledby="pills-delete-tab">...</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}