{% extends 'layouts/dashboard.base.html' %}
{% block title %}Flaskdesk — Dashboard{% endblock %}
{% block content %}

<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  {% include 'includes/sidebar.admin.html' %}

  <!-- Website content -->
  <div class="content">
    <!-- Navbar top fixed -->
    {% include 'includes/navbar.admin.html' %}

    <!-- Content container -->
    <div class="container-fluid">
      <!-- Header -->
      <div class="content-box mb-3 content-lighten">
        <h3>Dashboard</h3>
      </div>
    </div>

  </div>
</div>

{% endblock %}