{% extends 'layouts/dashboard.base.html' %}
{% block title %}Flaskdesk — Tickets{% endblock %}
{% block content %}

<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  {% include 'includes/sidebar.admin.html' %}

  <!-- Website content -->
  <div class="content">
    <!-- Navbar top fixed -->
    {% include 'includes/navbar.admin.html' %}

    <!-- Content container -->
    <div class="container-fluid">
      <!-- Header -->
      <div class="content-box mb-3 content-lighten">
        <div class="row">
          <div class="col-md-6">
            <h3>Tickets</h3>
          </div>
          <div class="col-md-6">
            <div class="text-right mt-1">
              <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#createModal">
                Create new
              </button>
            </div>
          </div>
        </div>
      </div>
      
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <table id="table" class="table table-responsive-sm bg-white">
        <thead>
          <tr>
            <th>ID</th>
            <th>Author</th>
            <th>Content</th>
            <th>Assigned to</th>
            <th>Priority</th>
            <th>Status</th>
            <th data-orderable="false">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for row in tickets %}
          <tr>
            <td>
              <a href="{{ url_for('admin.comments', id=row.id, public_id=row.public_id) }}">
                {{ row.public_id[:6] }}
              </a>
            </td>
            <td>
              <a href="{{ url_for('admin.comments', id=row.id, public_id=row.public_id) }}">
                {{ row.author.name }}
              </a>
            </td>
            <td>
              {{ row.subject[:32] }}<br>
              <small class="text-muted">{{ row.body[:64] }}</small>
            </td>
            <td>{{ row.owner.name }}</td>
            <td>{{ row.priority.priority }}</td>
            <td>{{ row.status.status }}</td>
            <td>
              <a href="{{ url_for('admin.update_ticket', id=row.id, public_id=row.public_id) }}" class="btn btn-sm btn-primary">
                <i class="fa fa-edit"></i>
              </a>
              <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal{{ row.id }}">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          <!-- Delete Modal -->
          <div class="modal fade" id="deleteModal{{ row.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ row.id }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel{{ row.id }}">Delete Confirmation</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to delete this ticket? This action cannot be undone.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <form action="{{ url_for('admin.delete_ticket', id=row.id) }}" method="POST" role="form">
                    <input type="submit" class="btn btn-danger" value="Delete">
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Create Modal -->
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createModalLabel">Create New</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="{{ url_for('admin.ticket') }}" method="POST">
              {{ form.csrf_token }}
              <div class="form-group">
                {% if form.subject.errors %}
                  {{ form.subject(class="form-control is-invalid", placeholder="Subject") }}
                  {% for error in form.subject.errors %}
                    <div class="invalid-feedback">
                      {{ error }}
                    </div>
                  {% endfor %}
                {% else %}
                  {{ form.subject(class="form-control", placeholder="Subject") }}
                {% endif %}
              </div>
              <div class="form-group">
                {% if form.category.errors %}
                  {{ form.category(class="custom-select is-invalid") }}
                  {% for error in form.category.errors %}
                    <div class="invalid-feedback">
                      {{ error }}
                    </div>
                  {% endfor %}
                {% else %}
                  {{ form.category(class="custom-select") }}
                {% endif %}
              </div>
              <div class="form-group">
                {% if form.body.errors %}
                  {{ form.body(class="form-control is-invalid", placeholder="Compose a message...", rows="6") }}
                  {% for error in form.body.errors %}
                    <div class="invalid-feedback">
                      {{ error }}
                    </div>
                  {% endfor %}
                {% else %}
                  {{ form.body(class="form-control", placeholder="Compose a message...", rows="6") }}
                {% endif %}
              </div>
              <button type="submit" class="btn btn-primary">Create</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}