<nav class="navbar navbar-expand-lg fixed-top navbar-lighten">
  <!-- Navbar title -->
  <a class="navbar-brand navbar-link text-uppercase"
    href="
    {% if current_user.role == 'admin' %}
      {{ url_for('admin.dashboard') }}
    {% elif current_user.role == 'agent' %}
      {{ url_for('agent.dashboard') }}
    {% elif current_user.role == 'user' %}
      {{ url_for('user.dashboard') }}
    {% endif %}
    ">
    <img src="{{ url_for('static', filename='images/logo.svg') }}" width="36" height="36" alt="logo">
    <strong>Flask</strong>desk
  </a>

  <!-- Navbar sidebar menu toggle -->
  <span class="navbar-text">
    <a href="javascript:void(0)" id="sidebar-toggle" class="navbar-bars">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </a>
  </span>

  <!-- Navbar dropdown menu-->
  <div class="collapse navbar-collapse">
    <div class="dropdown dropdown-logged dropdown-logged-lighten">
      <a href="javascript:void(0)" data-toggle="dropdown" class="dropdown-logged-toggle dropdown-link">
        <span class="dropdown-user float-left">{{ current_user.name }}</span>
      </a>
      <div class="dropdown-menu dropdown-logged-menu dropdown-menu-right border-0 dropdown-menu-lighten">
        <div class="dropdown-menu-arrow"></div>
        <a class="dropdown-item dropdown-logged-item" href="#">
          <i class="fa fa-user" aria-hidden="true"></i>Your profile
        </a>
        <a class="dropdown-item dropdown-logged-item"
          href="
          {% if current_user.role == 'admin' %}
            {{ url_for('admin.account_settings') }}
          {% elif current_user.role == 'agent' %}
            {{ url_for('agent.account_settings') }}
          {% elif current_user.role == 'user' %}
            {{ url_for('user.account_settings') }}
          {% endif %}
          ">
          <i class="fa fa-cog" aria-hidden="true"></i>Account settings
        </a>
        <div class="dropdown-divider border-light"></div>
        <a class="dropdown-item dropdown-logged-item" href="{{ url_for('auth.logout') }}">
          <i class="fa fa-sign-out" aria-hidden="true"></i>Logout
        </a>
      </div>
    </div>
  </div>
</nav>